settings:
  # Size of window
  # Accepted values: Any integar
  window_size: 800

  # Size of one square, making up a body segment of the snake or one food
  # Accepted values: An integar divisible by window_size
  grid_size: 25

colors:
  color1: [255, 0, 0] # RGB of 1 point food 
  color2: [0, 255, 255] # RGB of 2 point food
  color3: [255, 220, 110] # RGB of 5 point food 
  snake_color: [0, 255, 0] # RGB of snake

